<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Color</th>
        <th scope="col">¿Es felpudo?</th>
        <th scope="col">¿Hace Meow?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of gato">
        <th scope="row">{{ cat.id }}</th>
        <td>{{ cat.name }}</td>
        <td>{{ cat.color }}</td>
        <td>{{ cat.isFurry ? "SI" : "NO" }}</td>
        <td>{{ cat.meows ? "SI" : "NO" }}</td>
      </tr>
    </tbody>
  </table>