<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Color</th>
        <th scope="col">Raza</th>
        <th scope="col">¿Es Macho?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let verde of perroVerde">
        <th scope="row">{{ verde.id }}</th>
        <td>{{ verde.name }}</td>
        <td>{{ verde.color }}</td>
        <td>{{ verde.raza }}</td>
        <td>{{ verde.isMale ? "SI" : "NO" }}</td>
      </tr>
    </tbody>
  </table>