body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;



    .titulo{
        margin-top: 5%;
        justify-content: center;
        align-content: center;
        font-size: 8em;
    }

    .integrantes{
        font-size: 2.5em;
    }

    .nombres{
        font-size: 1.5em;
    }
}