<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Numero de Proteinas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of comida">
        <th scope="row">{{ food.id }}</th>
        <td>{{ food.name }}</td>
        <td>{{ food.proteins }}</td>
      </tr>
    </tbody>
  </table>