<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Color</th>
        <th scope="col">Raza</th>
        <th scope="col">¿Es Macho?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dog of perro">
        <th scope="row">{{ dog.id }}</th>
        <td>{{ dog.name }}</td>
        <td>{{ dog.color }}</td>
        <td>{{ dog.raza }}</td>
        <td>{{ dog.isMale ? "SI" : "NO" }}</td>
      </tr>
    </tbody>
  </table>