<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">Lista JSON</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a  [routerLink]="['perros']" class="nav-link">Lista Perros</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a  [routerLink]="['gatos']" class="nav-link">Lista Gatos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a  [routerLink]="['perros-verdes']" class="nav-link">Lista Perros Verdes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a  [routerLink]="['comida']" class="nav-link">Lista Comida</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>